.my-projects {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-between;
  margin: 30px 0px 30px 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.grid-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s, transform 0.2s;
  white-space: nowrap;
}
.grid-item::before {
  content: "";
  display: block;
  width: 15px;
  background-color: #eab308;
  margin-right: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.grid-item:hover,
.grid:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.grid-item:active,
.grid:active {
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(0.98);
}
.grid-item div p {
  font-size: 15px;
  color: grey;
  text-align: left;
  white-space: normal;
}
.project-card-actions {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.project-card-actions svg {
  color: #0f172a;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}
.project-card-actions svg:hover {
  color: #1a91da;
  transform: scale(1.1);
}
.project-card-actions svg:active {
  color: #0f172a;
  transform: scale(1.1);
}