#top-navbar {
  color: #0f172a;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 50px;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  left: 340px;
  background-color: white;
  row-gap: 20px;
  box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.5);
  min-width: 1000px;
}
#top-navbar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#buttons {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#top-navbar div button {
  background-color: #1a91da;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 100px;
  width: 120px;
  height: 50px;
  transition: width 0.3s, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#top-navbar div button:hover {
  width: 140px;
  cursor: pointer;
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.2);
}
#top-navbar div button:active {
  width: 140px;
  cursor: pointer;
  transform: scale(0.98);
  box-shadow: none;
}
#user-profile {
  display: flex;
  column-gap: 20px;
}
#user-profile a,
#top-right div a {
  color: #0f172a;
  text-decoration: none;
}
#user-profile a:hover,
#top-right div a:hover {
  color: #0f172a;
  text-decoration: underline;
}
#user-profile a:active,
#top-right div a:active {
  color: #475569;
  text-decoration: underline;
}
#user-profile #username {
  font-size: 30px;
}
#user-profile div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#user-profile div p {
  font-weight: normal;
  font-size: 20px;
  margin: 2px;
}
#user-profile img {
  object-fit: cover;
  border-radius: 100px;
  height: 80px;
  width: 80px;
}
#searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}
#top-navbar div label {
  transition: transform 0.2s, color 0.15s;
}
#top-navbar div label:hover {
  color: #1a91da;
  transform: scale(1.1);
  cursor: pointer;
}
#top-navbar div label:active {
  color: #0f172a;
  cursor: pointer;
}
#top-navbar div input {
  width: 620px;
  height: 30px;
  border: none;
  border-radius: 100px;
  background-color: #e2e8f0;
  padding-left: 20px;
  font-size: 15px;
}
#top-navbar div input:focus {
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.2);
}
#top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}
#top-right p {
  font-size: 20px;
}
#top-right img {
  object-fit: cover;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}
#searchbar svg {
  width: 30px;
  height: 30px;
}
#top-right svg {
  width: 50px;
  height: 30px;
  transition: transform 0.2s, color 0.15s;
}
#top-right svg:hover {
  color: #1a91da;
  transform: scale(1.1);
  cursor: pointer;
}
#top-right svg:active {
  color: #0f172a;
  transform: scale(1.1);
  cursor: pointer;
}
#top-right div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}